body {
    font-family: Arial, sans-serif;
}
.blackbackground {
    background: #444444;
}
.title {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 20px;
}
.blacktext {
  color: #000000;
}
.whitetext {
  color: #FFFFFF;
}
.url-box {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px;
  text-align: center;
}
.darkform-box {
  background: #565656;
}
.form-box {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #6e6e6e;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
form button:hover,form button:active,form button:focus {
  background: #333333;
}
form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
span {
  font-weight: bold;
}
#
/*Styling by Kathryn King*/